.favourites {
  margin: 0 20px;
  margin-top: 25px !important;
}
.ratingss {
  align-items: center !important;
  gap: 20px;
}
.gapss {
  gap: 1rem !important;
}
.sectionIN {
  padding-top: 100px;
}
.title-pro {
  margin-top: 50px;
}
